@media (min-width:1920px){
  body{
    max-width: 1920px;
    margin:0 auto;
  }
}
  main{
  margin-top: 106px;
  /* header의 높이만큼 여백을 위로 줌 */
  transition:margin-top 0.6s ease 0s;
  min-height: 1500px;
}
header.fold~main{
  margin-top:44px;
}
:root{
    /* basic size 1rem*/
    --basic-font-pc:20px;
    --basic-font-tab:18px;
    --basic-font-mobile:14px;

    /* color varlation */
    --Caramel-Brown-0:#FFFAF5;
    --Caramel-Brown-100:#FDE3C5;
    --Caramel-Brown-200:#F9CB98;
    --Caramel-Brown-300:#F2B670;
    --Caramel-Brown-400:#E9A250;
    --Caramel-Brown-main-500:#DD9038;
    --Caramel-Brown-600:#CD7F27;
    --Caramel-Brown-700:#B86F1B;
    --Caramel-Brown-800:#A05E13;
    --Caramel-Brown-900:#874E0E;

    --font-strong:700;
    --font-normal:400;

    --base-line-height:1.2;
    --text-line-height:1.4;

    --space-normal:1rem;
    --space-x-small:0.5rem;
    --space-2x-small:0.25rem;
    --space-x-large:2rem;
    --space-2x-large:3rem;
    --space-3x-large:6rem;

    /* semantic color */
    --color-inactive:#777;

    /*device width*/
    --device-tab:1440px;
    --device-mobile:780px;
}
html{
    font-size: var(--basic-font-pc);
    font-family: 'Pretendard',sans-serif;
    line-height: var(--base-line-height);
}
em{
    font-style: inherit;
    color: var(--Caramel-Brown-700);
}
h1{
    font-size: 1.6rem;
    font-weight: var(--font-strong);
}
h2{
    font-size: 1.4rem;
    font-weight: var(--font-strong);
}
h3{
    font-size: 1.25rem;
    font-weight: var(--font-strong);
}
h4{
    font-size: 1rem;
    font-weight: var(--font-strong);
}
p{
    font-size: 1rem;
    line-height: var(--text-line-height);
}
.b2{
    font-size: 0.9rem;
}
.detail{
    font-size: 0.8rem;
}
.point{
    font-family: "Aboreto", system-ui;
}
.common-frame{
    width: 1440px;
    margin: 0 auto;
}
.logo img{height: 5rem;}
.btn-all-menu img{height: 1.2rem;}

.slider-container {
  overflow-x: auto;
  overflow-y: hidden;
  /* 슬라이드처럼 멈춤 /
  / scroll-snap-type: x mandatory;  /
  -webkit-overflow-scrolling: touch; / iOS 부드러운 스크롤 */
  white-space: nowrap;
  display: flex;
}

.slider-track {
  display: flex;
}

/*웹킷 계열의 브라우저 -> 크롬 엣지 사파리 */
::-webkit-scrollbar{
    width:0.25rem;
    height:0.25rem;
}
::-webkit-scrollbar-track{
    background:var(--Caramel-Brown-100);
    /*border-radius:10px;*/
}
::-webkit-scrollbar-thumb{
    background:var(--Caramel-Brown-300);
    /* border-radius:5px; */
}
.ln2{
    display: -webkit-box;          /* 플렉스형 박스(옛 사양) */
    -webkit-line-clamp: 2;         /* 보여줄 최대 줄 수 */
    overflow: hidden;              /* 넘치는 내용 숨기기 */
    -webkit-box-orient: vertical;  /* 세로 방향 줄바꿈 기준 */
    text-overflow: ellipsis;       /* 말줄임 표기(보조) */
}
.ln3{
    display: -webkit-box;          /* 플렉스형 박스(옛 사양) */
    -webkit-line-clamp: 3;         /* 보여줄 최대 줄 수 */
    overflow: hidden;              /* 넘치는 내용 숨기기 */
    -webkit-box-orient: vertical;  /* 세로 방향 줄바꿈 기준 */
    text-overflow: ellipsis;       /* 말줄임 표기(보조) */
}
.logo{
    text-align: center;
}
.logo img{
    height:5rem;
    object-fit: contain;
}

@media (max-width:1440px){
    html{
        font-size: var(--basic-font-tab);
    }
    .common-frame{
        width:auto;
        margin:0 2rem;
    }
    main{
        margin-top: 94px;
    }
    header.fold~main{
        margin-top:94px;
    }
}

@media (max-width:768px){
    html{
        font-size:var(--basic-font-mobile);
    }
    .common-frame{
        width:auto;
        margin:0 1rem;
    }
    main{
      margin-top: 74px;
    }
    header.fold~main{
        margin-top:74px;
    }
}